*{
    font-family: Helvetica;
}

#gora1{
    background-color: rgb(146, 184, 112);
    text-align: center;
    width: 50%;
    height: 170px;
    float: left;
}

#gora2{
    background-color: rgb(146, 184, 112);
    text-align: center;
    width: 50%;
    height: 170px;
    float: right;
}

#baner{
    background-color: rgb( 100, 61, 49);
    text-align: center;
    color: white;
    padding: 5px;
    clear: both;
    height: 80px;
}

#stopka{
    background-color: rgb( 100, 61, 49);
    text-align: center;
    color: white;
    padding: 5px;
    height: 80px;
    clear: both;
}

#lewy{
    background-color: rgb(146, 184, 112);
    text-align: center;
    width: 50%;
    height: 450px;
    float: left;
}

#prawy{
    background-color: rgb(146, 184, 112);
    text-align: center;
    width: 50%;
    height: 450px;
    float: right;
}

table,td{
    border: 2px dashed green;
    margin: 30px;
    padding: 20px;
}

h1{
    letter-spacing: 20px;
    font-size: 250%;
}